<%= stylesheet_link_tag 'users/index', media: 'all' %>

<% @users.each do |user| %>
  <div class="home-users">
    <div class="user-photo">
      <img src="<%= user.photo %>" alt="user-photo">
    </div>
    <div class="user-data">
    <%= link_to user.name, user_path(id: user.id), class: 'user-link' %>
      <p class="posts-counter">Number of Posts: <%= user.posts.count %></p>
    </div>
  </div>
<% end %>
