body {
  margin: 10px;
  padding: 10px;
}

.user-show-container {
  display: flex;
  padding: 10px;
}

.user-image-container {
  width: 150px;
  height: 150px;
  border-right: 1px solid #ccc;
  margin-right: 20px;
}

.user-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-details-container {
  flex: 1;
  position: relative;
  border: 1px solid black;
  padding: 20px;
  height: 80px;
  margin-top: 20px;
}

.post-count {
  position: absolute;
  bottom: 0;
  right: 10px;
}

h1 {
  color: #333;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
}

a {
  text-decoration: none;
  color: #06c;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.back-link {
  text-align: center;
  margin-top: 20px;
  color: black;
  font-weight: bold;
  border: 1px solid black;
}

.back-link:hover {
  text-decoration: underline;
}

.user-posts-container {
  margin-top: 10px;
}

.user-posts-container ul {
  margin: 0;
}

.post-metadata {
  position: relative;
}

.comments-count {
  position: absolute;
  bottom: 0;
  right: 80px;
}

.likes-count {
  position: absolute;
  bottom: 0;
  right: 20px;
  margin-left: 10px;
}

.last-btn {
  text-align: center;
}
